/***** processblock (not used in quic, delete?) *****/

processblock {
  display: block;
  position: relative;
  margin: 1em;
  padding-left: 1em;
  overflow: hidden;
  transition: all 0.3s;
  cursor: pointer;
  font-size: 0.8em;
}

processblock:before {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

processblock pre {
  margin: 0;
}

/***** header protection toggle button (TODO) *****/
button.hp-toggle {
  margin-bottom: 1em;

  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  padding: 0.4em 1.7em 0.45em;
  text-shadow: 0 1px 0 var(--act-btn-shadow);
  border-radius: 0.5em;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

  color: #fff;
  border: solid 1px var(--act-btn-border);
  background: linear-gradient(180deg, var(--act-btn0) 1%, var(--act-btn9) 100%);
}
button.hp-toggle:hover {
  text-decoration: none;
  background: linear-gradient(
    180deg,
    var(--act-hov-btn0) 1%,
    var(--act-hov-btn9) 100%
  );
}
button.hp-toggle:active {
  position: relative;
  top: 1px;
}

/***** print mode *****/
.print-mode {
  cursor: pointer;
  position: absolute;
  padding: 5px;
  bottom: 0;
  right: 0;
}

@media (max-width: 600px) {
  .print-mode {
    display: none;
  }
}
